* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a{
  text-decoration: none;
}
button,input{
  padding: 3px;

}
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 500ms;
}

.is-hide{
  opacity: 0;
  pointer-events: visible;
  visibility: hidden;
  
}
button{
  background-color: red;
}
.wrapper-loadbtn{
 display: flex;
 justify-content: center;
 align-items: center;
}
.load-more{
  border-radius: 20px;
}

.header{
  border-bottom: 1px solid #5e5d5d;
   background-color: #072d5373;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.logo{
  width: 250px;  
}
.logo-link{
  display: flex;
}


.gallery{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.photo-card{ 
  width: 320px;
  height: 320px;
  margin-bottom: 20px;

 }
.info {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.info-item{
  padding: 3px;
}
@keyframes rotateX {
  0% {
    transform: perspective(400px) rotateX(0deg);
  }

  100% {
    transform: perspective(400px) rotateX(60deg);
  }
}
.photo-list:hover {
  transform:perspective(400px)rotateX(9deg) ;
  
}

.photo-list{
  height: 85%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
} 

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.arrow{
  position: fixed;
  bottom: 10%;
  left: 90%
}
.arrow-top{
  transform: rotate(270deg);
  position: relative;
}
.arrow-top:hover{
fill: #b73333;
}
